@import "../../components/mixins.module.scss";

.wrapper {
  width: 100%;
  padding: 2rem;

  @include for-device(lgUp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 1rem;
    text-decoration: underline;
  }

  .card {
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    box-shadow: skyblue 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    @include for-device(smDown) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    > div:first-child {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include for-device(smDown) {
        flex-direction: column;
      }

      .nameWrapper {
        display: flex;
        align-items: baseline;

        i {
          margin-right: 0.5em;
        }
      }

      .locationWrapper {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.5em;

        @include for-device(smDown) {
          margin-top: 0.25rem;
        }

        i {
          margin-right: 0.5em;
        }

        > span {
          font-style: italic;
          color: orangered;
        }
      }
    }

    > ul {
      margin-left: 0.5em;
      list-style: none;

      @include for-device(smDown) {
        margin-left: 0;
      }

      li.arrow {
        display: flex;

        i {
          transform: rotate(90deg);
          color: greenyellow;
        }

        > span {
          margin-right: 0.5em;
        }
      }
    }

    .clientWrapper {
      display: flex;

      strong {
        margin-right: 0.5em;
      }

      span {
        display: flex;
        flex-wrap: wrap;

        a {
          color: rgb(0, 0, 238);
          outline: none;
        }
      }
    }
  }
}
