@import "../../components/mixins.module.scss";

.wrapper {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;

  @include for-device(mdSDown) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  > h1,
  > h2 {
    @include for-device(mdSDown) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  h2 {
    font-size: 1rem;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
