.navLinks {
  list-style: none;
  visibility: hidden;
  background-color: skyblue;
  border-radius: 10%;
  border: 1px solid #fff;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0.25rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

  li {
    text-align: right;
    margin-bottom: 0.25rem;

    &:hover {
      font-weight: bold;
    }

    .selected {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
