@import "../mixins.module.scss";

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  > nav {
    font-weight: bold;
    font-size: large;
  }

  .flag {
    display: flex;
    flex-direction: column;
    height: 33px;
    width: 42px;

    .common {
      height: 33.33%;
    }

    .first {
      @extend .common;
      background-color: orange;
    }
    .second {
      @extend .common;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      .chakra {
        border: 1px solid blue;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        position: relative;

        &::before,
        &::after,
        div {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: blue;
        }

        div:nth-child(1) {
          transform: rotate(15deg);
        }

        div:nth-child(2) {
          transform: rotate(30deg);
        }

        div:nth-child(3) {
          transform: rotate(45deg);
        }

        div:nth-child(4) {
          transform: rotate(60deg);
        }

        div:nth-child(5) {
          transform: rotate(75deg);
        }

        div:nth-child(6) {
          transform: rotate(105deg);
        }

        div:nth-child(7) {
          transform: rotate(120deg);
        }

        div:nth-child(8) {
          transform: rotate(135deg);
        }

        div:nth-child(9) {
          transform: rotate(150deg);
        }

        div:nth-child(10) {
          transform: rotate(165deg);
        }

        &::after {
          transform: rotate(90deg);
        }
      }
    }

    .third {
      @extend .common;
      background-color: green;
    }
  }

  .menu {
    position: relative;
    display: inline-flex;

    @include for-device(mdDown) {
      display: none;
    }

    .wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      span:first-child {
        color: #000;
        margin-right: 0.5rem;
        font-weight: bold;
      }

      span:not(:first-child) {
        content: "";
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #000 transparent transparent transparent;
      }
    }

    &:hover,
    &:focus {
      .wrapper span:not(:first-child) {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #000 transparent;
      }

      > ul {
        visibility: visible;
      }
    }
  }

  .sidenav {
    display: none;

    @include for-device(mdDown) {
      display: inline-flex;
    }

    button {
      border: none;
      background: none;
      font-size: 1.5rem;
    }

    &__menu {
      position: fixed;
      top: 0;
      left: -100vw;
      height: 100vh;
      width: 100vw;
      z-index: 2;
      display: flex;
      transition: left 0.5s;

      &.show {
        left: 0;
      }

      .navlinks {
        list-style: none;
        background: skyblue;
        padding: 1rem 2rem;

        li {
          margin-bottom: 1rem;

          button {
            color: #fff;
          }

          .selected button {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }

      .overlay {
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
