@import "../../components/mixins.module.scss";

.wrapper {
  width: 100%;
  padding: 2rem;

  @include for-device(lgUp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  blockquote {
    font-weight: bold;

    &::first-letter {
      color: skyblue;
      display: inline-block;
      font-size: 2em;
    }
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .professionalSkills {
    ul {
      list-style-type: square;
    }
  }

  .personalSkills {
    ul {
      list-style-type: circle;
    }
  }
}
