@import "../mixins.module.scss";

.medium {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  font-size: 2rem;
  position: relative;
  border: 2px solid transparent;
  transition: border 1s ease-in-out, opacity 1s ease-in-out;

  @include for-device(smDown) {
    margin: 1rem;
    border-color: skyblue;
  }

  &:hover,
  &:focus {
    @include for-device(mdUp) {
      border-color: skyblue;
    }

    > span {
      transform: rotate3d(0, 1, 0, 90deg);
      opacity: 0;
    }
  }

  > span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;

    @include for-device(smDown) {
      display: none;
    }
  }

  > div {
    height: 96px;
    width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > div {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
